:root {
  --background-color: white;
  --primary-text: black;
  --button-color: white;
  --button-text: black;
}

[theme-type="dark"] {
  --background-color: black;
  --primary-text: White;
  --button-color: black;
  --button-text: white;
}

.light-dark-mode {
  background-color: var(--background-color);
  height: 100vh;
  transition: all 0.5s;
}
.theme-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 40vh;
}
.theme-container p {
  color: var(--primary-text);
}
.theme-container button {
  margin: 0.5rem auto;
  background-color: var(--button-color);
  color: var(--button-text);
}
