.accordian-container {
  margin: 10vh;
  padding: 10vh;
  background: #e2fdff;
  border-radius: 10px;
  align: center;
  display: inline-block;
}
.wrapper {
  align-self: center;
  height: max-content;
  background-color: aqua;
  display: block;
  width: 500px;
}
.a-container {
  display: inline-block;
}
.accordian {
  /* width: 100%; */
  display: block;
  justify-content: space-between;
}

.answer {
  background-color: aquamarine;
  display: inline-block;
}
.selectionToggle {
  display: inline-block;
  margin-bottom: 1rem;
}
